<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>

</head>
    <body>
    <!--Add review form here -->
    <form action="{% url 'djangoapp:add_review' dealer_name dealer_id %}" method="post">
        <div class="container"> <!--Style root div with .container class -->
            {% csrf_token %}
            <h1>Add review about <b>{{dealer_name}}</h1>
            <hr>
            <div class="form-group"> <!--Style second div with .form-group class -->
                <label for="content"><b>Enter de reivew content:</b></label><br/>
                <textarea class="form-control" id="content" name="content" rows="2" required></textarea><br/>                
                <input class="form-check-input" type="checkbox" name="purchasecheck" id="purchasecheck"><label for="purchasecheck"><b>Has purchase the car from {{dealer_name}}? </b>(select purchased car information below if checked) </label><br/>
                <br/>               
                <label for="car"><b>Select you car (model-make-year)</b></label><br/>  
                <select name="car" id="car" class="form-select" required>
                    {% for car in cars %}
                        <option selected value={{car.id}}>{{car.name}}-{{car.carMake.name}}-{{ car.year|date:"Y" }}</option>
                    {% endfor %}
                </select><br/>        
                <label for="purchasedate"><b>Select you purchase daste</b></label><br/>   
                <input class="date-own form-control" type="date" name="purchasedate" id="purchasedate"><br/>   

                {% if message %}
                <div class="alert alert-warning"> 
                    {{ message }}
                </div>
                {% endif %}
                <button class="btn btn-primary" type="submit">Submit</button> 
            </div>
        </div>
    </form>
    
    </body>
</html>